[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"
english-text-normalization = {editable = true, path = "."}

[requires]
python_version = "3.9"

[packages]
pyenchant = "*"
nltk = "*"
inflect = "*"
