[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
english-text-normalization = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
tox = "*"

[requires]
python_version = "3.8"

[packages]
pyenchant = "*"
nltk = "*"
inflect = "*"
unidecode = "*"
